/* body {
    background-image: url("/images/Abstract Blue Wallpapers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
} */

body {
    background-color: Gainsboro;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.btn-h1-spacing {
    margin-top: 18px;
}

.form-spacing-top {
    margin-top: 30px;
}

.comment {
    margin-bottom: 45px;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.author-name {
    float: left;
    margin-left: 15px;
}

.author-name > h4 {
    margin: 5px 0px;
}

.comment-content {
    clear: both;
    margin-left: 65px;
    font-size: 16px;
    line-height: 1.3em;
}

.author-time {
    font-size: 11px;
    font-style: italic;
    color: #aaa;
}

.comments-title {
    margin-bottom: 45px;
}

.comments-title > span {
    margin-right: 15px;
}

.btn-sm-margin {
    margin-top: 15px;
}

.btn-m-margin {
    margin-top: 20px;
}

hr.footer {
    border-width: 1px;
}

.bg-info {
    background-color: lavender;
}

.navbar-default .navbar-nav > .active > a {
    color: #555;
    background-color: lavenderblush;
}
